@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffff;
}

th,
h3,
label {
  color: #34626c;
}

label{
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
}

h3 {
  font-weight: bold;
  padding-bottom: 30px;
}

.navbar {
  background-color: #34626c;
  margin-bottom: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 0;
}

.nav-item {
  padding: 0 18px;
  padding-top: 11px;
  font-size: 1.8rem;
}

.navbar-brand {
  font-size: 3.5rem;
  font-weight: bold;
  padding-top: 13px;
  padding-right: 23.5%;
}

a:link,
a:visited {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.nav-item a:link,
.nav-item a:visited {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  text-decoration: none;
}

.nav-item a:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.options {
  align-items: center;
}

